<html lang="en">
	<head>
		<title>{{ .Title }} - arnavion.dev</title>
		{{ $style := resources.Get "index.scss" | resources.ToCSS }}
		<link rel="stylesheet" href="{{ $style.Permalink }}" />
		{{ with .OutputFormats.Get "rss" }}
			<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}" />
		{{ end }}
	</head>
	<body>
		<header>
			<h1>{{ .Title }}</h1>
		</header>

		<main>
			{{ block "content" . }}{{ end }}
		</main>

		<footer>
			<p>
				Copyright Arnav Singh,
				under the <a href="https://creativecommons.org/licenses/by/4.0/" rel="license nofollow">Creative Commons Attribution 4.0 International License</a>
			</p>
			<p>Source at <a href="https://github.com/Arnavion/www-arnavion-dev" rel="nofollow">https://github.com/Arnavion/www-arnavion-dev</a></p>
		</footer>
	</body>
</html>
