$background-color: #222222;
$color: #dddddd;
$a-color: #ee9900;
$border-color: #ffffff;
$code-background-color: #333333;

/* Dark mode is default for browsers that don't support prefers-color-scheme */
:root {
	--background-color: #{$background-color};
	--color: #{$color};
	--a-color: #{$a-color};
	--border-color: #{$border-color};
	--code-background-color: #{$code-background-color};

	@media (prefers-color-scheme: light) {
		--background-color: #{invert($background-color)};
		--color: #{invert($color)};
		--a-color: #{invert($a-color)};
		--border-color: #{invert($border-color)};
		--code-background-color: #{invert($code-background-color)};
	}
}

html {
	height: 100%;
	margin: 0;
}

body {
	background-color: var(--background-color);
	color: var(--color);
	display: flex;
	flex-direction: column;
	font-size: large;
	height: 100%;
	margin: 0 1em;
}

header, footer {
	text-align: center;
}

body > main {
	flex-grow: 1;
}

a, a:hover, a:visited {
	color: var(--a-color);
}

footer {
	border-color: var(--border-color);
	border-top-width: 1px;
	border-top-style: solid;
}

footer.blog-comments {
	text-align: left;
}

pre, code {
	background-color: var(--code-background-color);
}

pre {
	overflow-x: auto;
	padding: 1em;
}

code {
	padding: 0 1em;
}

pre > code {
	padding: 0;
}

article {
	text-align: justify;
}

section {
	margin-left: 2em;
}

nav.blog {
	display: flex;
	flex-direction: row;
}

nav.blog > * {
	flex-basis: 0;
	flex-grow: 1;
	text-align: center;
}

nav.blog > :first-child {
	text-align: left;
}

nav.blog > :last-child {
	text-align: right;
}
