<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>$title$ - arnavion.dev</title>
		<style type="text/css">$css$</style>
		<link rel="alternate" type="application/atom+xml" href="/blog/index.xml" title="Blog - www.arnavion.dev" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<span class="work-around-firefox-reader-mode-bug" rel="author">&#8204;</span>

		<header>
			<h1>$title$</h1>
		</header>

		<main>
			<nav>
				<a href="/">Back to Home</a>
			</nav>

			<nav>
				<h2>Articles</h2>

$body$
			</nav>
		</main>

		<footer>
			<p>
				Copyright Arnav Singh,
				under the <a href="https://creativecommons.org/licenses/by/4.0/" rel="license nofollow">Creative Commons Attribution 4.0 International License</a>
			</p>
			<p>Source at <a href="https://github.com/Arnavion/www-arnavion-dev" rel="nofollow">https://github.com/Arnavion/www-arnavion-dev</a></p>
		</footer>
	</body>
</html>
