html {
	height: 100%;
	margin: 0;
}

body {
	display: grid;
	font-size: large;
	height: 100%;
	margin: 0 1em;
	grid-template-rows: min-content 1fr min-content;
}

header, footer {
	text-align: center;
}

:root {
	--background-color-red-default: 25;
	--background-color-green-default: 25;
	--background-color-blue-default: 25;

	--color-red-default: 255;
	--color-green-default: 255;
	--color-blue-default: 255;

	--a-color-red-default: 255;
	--a-color-green-default: 255;
	--a-color-blue-default: 0;

	--a-visited-color-red-default: 255;
	--a-visited-color-green-default: 128;
	--a-visited-color-blue-default: 0;

	--border-color-red-default: 255;
	--border-color-green-default: 255;
	--border-color-blue-default: 255;

	--code-background-color-red-default: 50;
	--code-background-color-green-default: 50;
	--code-background-color-blue-default: 50;
}

/* Dark mode is default for browsers that don't support prefers-color-scheme */
/* @media (prefers-color-scheme: dark) { */
	:root {
		--background-color-red: var(--background-color-red-default);
		--background-color-green: var(--background-color-green-default);
		--background-color-blue: var(--background-color-blue-default);

		--color-red: var(--color-red-default);
		--color-green: var(--color-green-default);
		--color-blue: var(--color-blue-default);

		--a-color-red: var(--a-color-red-default);
		--a-color-green: var(--a-color-green-default);
		--a-color-blue: var(--a-color-blue-default);

		--a-visited-color-red: var(--a-visited-color-red-default);
		--a-visited-color-green: var(--a-visited-color-green-default);
		--a-visited-color-blue: var(--a-visited-color-blue-default);

		--border-color-red: var(--border-color-red-default);
		--border-color-green: var(--border-color-green-default);
		--border-color-blue: var(--border-color-blue-default);

		--code-background-color-red: var(--code-background-color-red-default);
		--code-background-color-green: var(--code-background-color-green-default);
		--code-background-color-blue: var(--code-background-color-blue-default);
	}
/* } */

@media (prefers-color-scheme: light) {
	:root {
		--background-color-red: calc(255 - var(--background-color-red-default));
		--background-color-green: calc(255 - var(--background-color-green-default));
		--background-color-blue: calc(255 - var(--background-color-blue-default));

		--color-red: calc(255 - var(--color-red-default));
		--color-green: calc(255 - var(--color-green-default));
		--color-blue: calc(255 - var(--color-blue-default));

		--a-color-red: calc(255 - var(--a-color-red-default));
		--a-color-green: calc(255 - var(--a-color-green-default));
		--a-color-blue: calc(255 - var(--a-color-blue-default));

		--a-visited-color-red: calc(255 - var(--a-visited-color-red-default));
		--a-visited-color-green: calc(255 - var(--a-visited-color-green-default));
		--a-visited-color-blue: calc(255 - var(--a-visited-color-blue-default));

		--border-color-red: calc(255 - var(--border-color-red-default));
		--border-color-green: calc(255 - var(--border-color-green-default));
		--border-color-blue: calc(255 - var(--border-color-blue-default));

		--code-background-color-red: calc(255 - var(--code-background-color-red-default));
		--code-background-color-green: calc(255 - var(--code-background-color-green-default));
		--code-background-color-blue: calc(255 - var(--code-background-color-blue-default));
	}
}

body {
	background-color: rgb(var(--background-color-red), var(--background-color-green), var(--background-color-blue));
	color: rgb(var(--color-red), var(--color-green), var(--color-blue));
}

a, a:hover {
	color: rgb(var(--a-color-red), var(--a-color-green), var(--a-color-blue));
}

a:visited {
	color: rgb(var(--a-visited-color-red), var(--a-visited-color-green), var(--a-visited-color-blue));
}

footer {
	border-top: 1px solid rgb(var(--border-color-red), var(--border-color-green), var(--border-color-blue));
}

footer.blog-comments {
	text-align: left;
}

pre, code {
	background-color: rgb(var(--code-background-color-red), var(--code-background-color-green), var(--code-background-color-blue));
}

pre {
	padding: 1em;
}

code {
	padding: 0 1em;
	white-space: pre;
}

pre > code {
	padding: 0;
}

section {
	margin-left: 2em;
	text-align: justify;
}
